body {
    padding: 0 10% 4% 10%;
    font-family: Rubik, Arial, sans-serif;
  }
  
  
  footer {
    a:link {
      font-weight: bold;
      color: brown;
    }
  
    a:visited,
    a:focus {
      color: hsl(288, 44%, 31%);
    }
  
    a:hover {
      color: orangered;
    }
  }
  
  nav {
    a:link,
    a:visited {
      color: white;
      text-decoration: none;
      border-left: 1px solid rgb(113, 109, 109);
      border-right: 1px solid rgb(113, 109, 109);
      height: 20px;
    }
    text-align: center;
    background-color:black;
    font-size: 25px;
    font-family: 'Times New Roman',
    Times,
    serif;
  }
  
  
  h1 {
    background: black;
    color: white;
    margin-bottom: 0px;
    padding: 6px 18px;
    font-size: 1em;
  }
  
  h3 {
    font-size: 2.3em;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Spectral, "Arial Black", sans-serif;
  }
  
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4em;
  }
  
  h5 {
    font-style: italic;
    font-weight: 350;
    font-size: 1.4em;
    margin-top: 2px;
  }
  
  li {
    font-size: 21px;
  }
  
  #name {
    font-size: 2.8em;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 100%;
    font-family: Spectral, "Arial Black", sans-serif;
  }
  
  #jobTitle {
    font-size: 2em;
    font-weight: 370;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* END OF STYLING FOR HEADERS */
  
  #navBlock {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /*CREATES A CONTAINER FOR THE TWO COLUMNS */
  .flex-container {
    display: flex;
  }
  
  /* STYLING FOR THE LEFT COLUMN */
  /*sets the properties of the left column */
  #left {
    width: 45%;
    box-sizing: border-box;
    background: hsl(0, 0%, 90%);
    text-align: center;
  }
  
  /*box with Contact details in the left column*/
  div div div {
    position: relative;
    border: 2px hsl(0, 0%, 0%) solid;
    box-sizing: border-box;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 30px;
    min-height: 250px;
    padding-bottom: 4%;
    z-index: 0;
  }
  
  /*header which overlaps the border; includes Contact details */
  div div div h3 {
    position: absolute;
    top: -8%;
    right: 20%;
    left: 20%;
    z-index: 1;
    text-align: center;
    background: hsl(0, 0%, 90%);
  }
  
  div div div h4 {
    margin-top: 10%;
  }
  
  div div div p {
    margin-top: 2%;
    font-size: 1em;
  }
  
  /*sets the properties of the right column */
  #right {
    width: 65%;
    box-sizing: border-box;
    padding: 50px 5%;
    margin: 0;
  }
  
  #bottom {
    font-size: 1.4em;
    text-align: center;
  }
  
  /*styling for the image */
  img {
    width: 38%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px black solid;
  }
  
  /* end of styling for the images */
  
  hr {
    display: block;
    background-color: black;
    text-align: center;
  }
  
  /* short line under the 'software developer' in the left column */
  #mainHR {
    width: 25%;
    border: 2px solid black;
    margin-top: 20px;
  }
  
  #justified {
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
  }